<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Config_PLC_SIEMENS.Properties.Settings.ConfigRTPConnectionString"
            connectionString="Data Source=HM\MSQL;Initial Catalog=ConfigRTP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Config_PLC_SIEMENS.Properties.Settings.RtpConfigConnectionString"
            connectionString="Data Source=HM\MSQL;Initial Catalog=RtpConfig;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Config_PLC_SIEMENS.Properties.Settings.RtpConfigConnectionString1"
            connectionString="Data Source=WKZP85824;Initial Catalog=RtpConfig;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>