<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="RtpWagoConf.Properties.Settings.RtpConfigConnectionStringLocal"
      connectionString="Data Source=ARM-RTP3\RTPPLCCONFIG;Initial Catalog=RtpConfig;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
    <add name="RtpWagoConf.Properties.Settings.RtpConfigConnectionStringRemote"
      connectionString="Data Source=ARM-RTP4\RTPPLCCONFIG;Initial Catalog=RtpConfig;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>